<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Owner Panel</title>
    {% load static %}   
    <link rel="stylesheet" href="{% static 'css/accounts.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1ab0e88673.js" crossorigin="anonymous"></script>
</head>
<body>

    
    <div id="header">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'owner' %}">SuperUser Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <a href="{% url 'signout' %}" style="text-decoration:none; color:white; padding-right:10px;"><i class="fa-solid fa-right-from-bracket fa-lg" style="color:green;"></i>Logout</a>
              </ul>
            </div>
          </div>
        </nav>


    </div>
    

<div id="main_content">



    {% block content %}{% endblock %}  
</div>

    
</body>
</html>